body {
  background-image: url("backgroundRayCastRender.png");
    background-repeat: no-repeat;
    background-size:cover;
	color: #000000;
  font-family: 'IBM Plex Mono', monospace;
	font-size: 20px;
	font-weight: 400;
  line-height: 1.8;
}

p{
 color: white;
}

img { 
  height: auto; 
  max-width: 100%;
  margin-left: 30%;
  margin-top:15%;
}

.block{
  
}

.header { 
  background-color: #272829; 
  color: white;
  width: 100%;
  font-size: 22px;
  margin: 0%;
  margin-bottom: 5%;
}

nav a { 
  color: white; 
  display: inline-block; 
  margin: 10px 15px; 
  text-decoration: none; 
}


.home { 
  display: grid; 
  font-size: 20px; 
  grid-template-columns: 50% 50%; 
  line-height: 1.4; 
  margin: 4em auto 0 auto; 
  max-width: 50em; 
  padding: 0; 
}

.home h1 { 
  font-size: 28px; 
  margin: 1em auto 0 auto; 
  color: white;
}

.home .button { 
  margin: 1em 0; 
}

.microgameDemo{
  position: relative;
  left: 30%;
}

.microgameDemo h1{
  font-size: 20px;
  margin: 1em auto 0 auto; 
}

.tutorial{
  position: middle;
  text-align: center;
}

.tutorial h1{
  font-size: 20px;
  margin: 1em auto 0 auto; 
}
