/* Navbar */
.Navbar > Navbar.Brand{
    display: flex;  
}

.NavImage{
    padding-bottom: 6px;
    padding-right: 1px;
}

.nav-link{
    color:#1A1B21;
}

.nav-link > a{
    outline: none;
    text-decoration: none;
    color:#1A1B21;
}

/* Render Section */
.RenderWindow{
    display: flex;
    justify-content: center;
}

.Overlay{
    position: relative;
    order: 1;
    flex: 1;
    pointer-events: none;
}

.GameTitle{
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Space Mono', monospace;
}

canvas{
    width:400px;
    height:600px;
}

/* Introduction */
.Introduction{
        background-color: #FFFFFF;;
        color: #1A1B21;
        padding-top: 100px;
}

.Introduction > img{
    padding-top: 30px;
    size: 40px;
    border-radius: 15px;
}

.Introduction > button{ 
    border: none;
    color: black;
    text-align: center;
    display: inline-flex;
    font-size: 16px;
    margin: 4px 10px;
    justify-content: space-between;
    cursor: pointer;
}
    

.IntroDesc{
    display: grid;
    padding: 2rem;
    grid-template-columns: 300px 1fr;
    gap: 1.5rem;
    align-items: center;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    font: 500 75%/1.5 system-ui;
}

.Email > a{
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

.Email > a:link {
    color: #1A1B21;
  }
  
.Email >  a:visited {
    color: #1A1B21;
}

.Email > a:hover {
    border-bottom: 1px solid;
    color: #FFFFFF;
}


/* About */
.About{
    background-color: #FFFFFF;
    color: #1A1B21;
    padding-top: 15px;
}

.About>h4{
    text-align: left;
}

/* Interests */
.Interests{
    background-color: #FFFFFF;
    color: #1A1B21;
    padding-top: 120px;
    max-width: 800px;
    display: inline-block;
}

.Interests>h4{
    text-align: center;
}

.Interests>p{
    text-align: center;
}

/* Skills*/
.Skills{
    padding-top: 100px;
    padding-bottom: 150px;
    padding-left: 4%;
    display: table;
    margin-right: auto;
    margin-left: auto;
}

.Skills>img{
    width: 75%;
    height: 75%;
}

/* Footer */
.Footer{
    background-color: #161619;
    padding: 25px 0px 25px 0px;
    color: #FFFFFF;
    text-align: center;
}

.FooterIcons > span{
    margin: 0 2.5rem 0;
}

.FooterIcons > span > a{
    color: white;
}

.FooterIcons > span > .Github:hover{
    color: #6e5494;
}

.FooterIcons > span > .Itch:hover{
    color: #fa5c5c;
}

.FooterIcons > span > .Linkedin:hover{
    color:  #0A66C2;
}


.Copyright{
    margin-top: 2.5rem;
    margin-left: 1rem;
}

