/* Navbar */
.Navbar > Navbar.Brand{
    display: flex;  
}

.NavImage{
    padding-bottom: 6px;
    padding-right: 1px;
}

.nav-link{
    color:#1A1B21;
}

.nav-link > a{
    outline: none;
    text-decoration: none;
    color:#1A1B21;
}

/* Render Section */
.RenderWindow{
    display: flex;
    justify-content: center;
}

.Overlay{
    position: relative;
    order: 1;
    flex: 1;
    pointer-events: none;
}

.GameTitle{
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Space Mono', monospace;
}

canvas{
    width:400px;
    height:600px;
}

body{
    background-color: #f5f7f2;
    background-image: radial-gradient(#bcbcb5 0.9500000000000001px, #f5f7f2 0.9500000000000001px);
    background-size: 19px 19px;
}

/* Introduction */
.Introduction{
        color: #1A1B21;
        padding-top: 120px;
        background-color: #f5f7f2;
}

.Introduction > img{
    padding-top: 30px;
    size: 40px;
    border-radius: 15px;
}

.Introduction > button{ 
    border: none;
    color: black;
    text-align: center;
    display: inline-flex;
    font-size: 16px;
    margin: 4px 10px;
    justify-content: space-between;
    cursor: pointer;
}

.IntroDesc{
    display: grid;
    padding: 2rem;
    grid-template-columns: 300px 4fr;
    gap: 1.5rem;
    align-items: center;
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 16px;
}

.jobTitle{
    font-size: 18px;
        
}

.Email > a{
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    font-size: 18px;
}

.Email > a:link {
    color: #1A1B21;
  }
  
.Email >  a:visited {
    color: #1A1B21;
}

.Email > a:hover {
    border-bottom: 1px solid;
    color: #FFFFFF;
}


/* About */
.About{
    background-color: #FFFFFF;
    color: #1A1B21;
    padding-top: 15px;
}

.About>h4{
    text-align: left;
}

/* Interests */
.Interests{
    background-color: #f5f7f2;
    color: #1A1B21;
    padding-top: 120px;
    max-width: 800px;
    display: inline-block;
}

.Interests>h4{
    text-align: center;
}

.Interests>p{
    text-align: center;
}

/* Skills*/
.Skills{
    padding-top: 50px;
    padding-bottom: 450px;
    padding-left: 8%; 
    margin-right: auto;
    margin-left: auto;
}

.Skills>img{
    width: 75%;
    height: 75%;
}

.SkillsSections{
    display: inline-flexbox;
}

.ProgLang{
    padding-right: 1%;
}

.ProgLang >hr{
    width: 50%;
    text-align: left;
    margin-left: 0;
}

.TechStack >hr{
    width: 50%;
    text-align: left;
    margin-left: 0;
}

.Certs >hr{
    width: 50%;
    text-align: left;
    margin-left: 0;
}

/* Footer */
.Footer{
    background-color: #161619;
    padding: 25px 0px 25px 0px;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    height: 100px;
    max-height:min-content;
    left: 0;
    bottom: 0;
    position: fixed;
}

.FooterIcons > span{
    margin: 0 2.5rem 0;
}

.FooterIcons > span > a{
    color: white;
}

.FooterIcons > span > .Github:hover{
    color: #6e5494;
}

.FooterIcons > span > .Itch:hover{
    color: #fa5c5c;
}

.FooterIcons > span > .Linkedin:hover{
    color:  #0A66C2;
}


.Copyright{
    margin-top: 0.5rem;
    margin-left: 1rem;
}


